<div class="_1UBMqD_RSfWYicIiSlv77n _38_Z28Q4LpfXqInYVZPJZI result">
	 <header class="clearfix">
		<div class="content node">
			<form class="_1UyOYKRtptKK0v1qcKLhQS">
				<div class="_3q4mrjJOs4yXQXAAlhODfw">
					<input type="text" name="keyword" placeholder="搜索商品" maxlength="15" class="keyword"><i class="icon-cancel ui-decoration-hyperlink"></i></div>
				<!-- <div class="goback ui-decoration-hyperlink qu" >取消</div> -->
				<div ng-click="searchheader()" class="goback ui-decoration-hyperlink shou">搜索</div>
			</form>
		</div><span class="right-btn ui-decoration-hyperlink " ng-click="searchindex()"><i class="img-icon home"></i></span>
	</header>
 </div>