<div class="goodslist">
<!-- style="height: 1180px;" -->
    <ul class="clearfix">
    	<li ng-repeat="item in goodslist" class="_3dznqSdmEYuOI-7s36xTkF Ekwoj4AzxaaLKz3hCWWQv clearfix" id="{{item.goods.gid}}" name="{{item.goods.vendorProductId">
            <!-- react-empty: 2152 -->
            <div class="lazyload-img-wraper img loaded" ng-click="clearfix($event)">
                <div class="lazyload-img" style="transition: none; background-image: url(&quot;{{item.goods.verticalImage}}&quot;);">
                </div>
            </div>
            <div class="info">
                <div class="tag-wrap"></div>
                <div class="name-wrap">
                    <h2>{{item.goods.brandStoreName}}</h2>
                    <h3>{{item.goods.name}}</h3>
                </div>
                <div class="buyer-item"><i class="buyer-num-icon"></i><span class="buyer-num"><!-- react-text: 2163 -->20740<!-- /react-text --><!-- react-text: 2164 -->人购买<!-- /react-text --></span></div>
                <div class="price-wrap"><span class="price">{{item.goods.vipshopPrice}}</span>
                    <br>
                    <span class="market-price">{{item.goods.marketPrice}}</span>
                    <i class="cart" ng-click="buy($event,item.goods.gid)"></i>
                </div>
            </div>
        </li>
    </ul>
</div>