<ul class="tag-list clearfix">
	<li class="active">商品信息</li>
	<li class="">购物说明</li>
</ul>

<!--商品信息-->
<section class="desc">
	<table>
		<tbody>
			<tr ng-repeat="msgs in msg.goods.descriptions">
				<th>{{msgs.name}}</th>
				<td>{{msgs.value}}</td>
			</tr>
		</tbody>
	</table>
	<div class="click-to-detail ui-decoration-hyperlink">点击查看图文详情</div>

	<div class="image-detail" style="display: none;">
		<img ng-repeat="imgs in msg.goods.detailImage" src="{{imgs}}">
	</div>
</section>

<!--购物说明-->
<ul class="note" style="display: none;">
	<li>
		<h2>关于商品</h2>
		<p>乐蜂网上所售卖的商品均经过品牌授权，确保正品，并由中国太平洋财产保险股份有限公司为您购买的每一件商品进行承保。</p>
	</li>
	<li>
		<h2>商品价格说明</h2>
		<p>乐蜂展示的中间未划横线价格（显示如¥799）为乐蜂销售价，该价格是交易成交价，是您最终决定是否购买商品的依据。</p>
		<p>乐蜂展示的中间划横线价格（显示如￥1399）为参考价，采集自品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价可能会与您购物时展示的不一致。该价格仅供您参考。</p>
		<p>折扣比为乐蜂销售价与参考价的对比（该值四舍五入后采用小数点后1位，如¥799/¥2899=0.2756=2.8折），该对比值仅供您参考，不作为结算基数。</p>
	</li>
	<li>
		<h2>售后说明</h2>
		<p class="with-indent">在您签收商品之日起的7天之内，乐蜂为您提供七天无理由放心退服务，但以下情形将不能退货：</p>
		<p> </p>
		<p>1、非乐蜂销售的商品，或有明显使用痕迹影响二次销售的商品；</p>
		<p>2、法律明确规定不适用七天无理由退货的商品；</p>
		<p>3、基于安全及健康的考虑，已拆封的食品、药品、保健品、化妆品、贴身用品等；</p>
		<p>4、已经激活的手机、电脑、数码产品等；</p>
		<p>5、已在线交付的充值类商品；</p>
		<p>6、未经授权的维修、误用、碰撞、疏忽、滥用、进液、事故、改动、不正确的安装所造成的商品质量问题，或撕毁、涂改标贴、机器序号、防伪标记；</p>
		<p>7、无法提供商品的发票（如已索要发票）、保修卡等三包凭证或者三包凭证信息与商品不符及被涂改的；</p>
		<p>8、礼包或套装中的商品不可以部分退换货。上述退货规则，客户一经购买，视为认可。</p>
	</li>
</ul>