*{
	margin: 0;
	padding: 0;
}

body{
	background: #fff;
}

a:focus{
	text-decoration: none;	
}

a:hover{
	text-decoration: none;	
}

.iconfont {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}